 
<!--<header class="header">
    <div class="header-inner">
        <div class="container">
            <div class="inner" style="padding: 18px;">
                <div class="row" style="margin-left: 48%;">
                    <div>
                        <div class="logo">
                            <a href="home-publica.html"><img src="../../WebPages/img/logo.jpg" alt="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>--> 
<section class="contact-us section">
    <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-lg-12">
                    <form id="loginForm" class="contact-us-form align-items-center justify-content-center" style=" text-align: center;">
                        <div class="row vh-100 align-items-center justify-content-center" " >
                            <h2 style="text-align: center;">Inicia sesión</h2>
                        </div>
                        <p style="margin-top: 25px; font-size: 16px; text-align: center;" id="loginSubTitle"></p>
                        <div class="row vh-100 align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input style=" height: 30px; width: 300px" id="email" placeholder="Email" required value="">
                                </div>
                            </div>
                        </div>
                        <div class="row vh-100 align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input style="width: 294px; height: 30px; padding-left: 3px; padding-right: 3px;" type="password" id="password" placeholder="Contraseña" required value="MyPassword-123">
                                </div>
                            </div>
                        </div>
                        <div class="row vh-100 align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <a href="" id="linkChangePassword">Has olvidado tu contraseña?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row vh-100 align-items-center justify-content-center">
                            <div class="col-12">
                                <div class="">
                                    <label class="checkbox-inline" for="session"><input id="session" type="checkbox" /> Mantener sesión activa</label>
                                </div>
                                <div style="margin-top: 20px;" class="form-group login-btn">
                                    <button id="btnLogin" class="btn" type="submit">ENTRAR</button>
                                </div>
                            </div>
                        </div>
                        <input type="text" id="errorMsg" readonly style="display:none; color: red; border: 1px solid red; width: 100%; padding: 6px;">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>