# achivos de compilación de Visual Studio 
vs
vs.*
.vs
.vs.*
bin
bin.*
*.dd
obj
obj.*
/obj
/obj.*
/.config
src/API/Logs/
tests/Test.UnitTest/Report/
tests/Test.Integration/Report/
tests/Test.Configuration/Report/
tests/Test.Security/Report/