<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="pannel-wrapper white-bg mb-30">
                <div class="panel-heading heading-border">
                    <h4 id="titulo-galeria"></h4>
                </div>

                <div class="panel-body mt-30 pt-0 pb-0">
                    <div class="light-box">
                        <div class="row" id="galleryContainer">
                            <!-- Las imágenes se insertan dinámicamente -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>