<div class="table-responsive">

    <div id="table_name_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

        <div class="row" id="filterTable">
            <div class="col-sm-12 col-md-4">
                <div class="dataTables_length" id="table_name_length">
                    <label>
                        Mostrar
                        <select name="table_name_length" aria-controls="table_name" class="custom-select custom-select-sm form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        registros
                    </label>
                </div>
            </div>

            <div class="col-sm-12 col-md-2">
                <!--<div id="table_exporter" class="dataTables_filter">
                    <button type="button" id="btnExport" class="btn btn-warning" hidden style="width: 125px;">Exportar</button>
                </div>-->

                <div class="btn-group mb-1 ">
                    <button class="btn dropdown-toggle btn-warning" type="button" data-toggle="dropdown" aria-expanded="false">Exportar</button>
                    <div class="dropdown-menu " role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#">Excel</a>
                        <a class="dropdown-item" href="#">Pdf</a>
                    </div>
                </div>

                <div class="btn-group mb-1 show">
                    <button class="btn dropdown-toggle btn-warning" type="button" data-toggle="dropdown" aria-expanded="true">Exportar</button>
                    <div class="dropdown-menu show" role="menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item" href="#">Excel</a>
                        <a class="dropdown-item" href="#">Pdf</a>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-6">
                <div id="table_name_filter" class="dataTables_filter">
                    <label>
                        Buscar:
                        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table_name">
                    </label>
                </div>
            </div>
        </div>

        <br />
          
        <table id="table_name" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="table_name_info" style="width: 100%">
            <thead id="thead" style="background-color: #ecab0f;">
                <tr>
                    <!-- Headers dinamico > -->
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Contenido dinamico > -->
            </tbody>
        </table>

        <br />

        <div class="row" id="paginationTable"> 
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="table_name_info" role="status" aria-live="polite">
                    Mostrando x a y de n registros
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="table_name_paginate">
                    <ul class="pagination">
                        <li class="paginate_button page-item previous disabled" id="table_name_previous">
                            <a href="#" aria-controls="table_name" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
                        </li>

                        <li class="paginate_button page-item next disabled" id="table_name_next">
                            <a href="#" aria-controls="table_name" data-dt-idx="1" tabindex="0" class="page-link">Siguiente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div> 

    </div>
</div>
