<div class="top-bar-area theme-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-2 col-lg-4 col-md-3 col-3">
                <div class="logo">
                    <a href="#">
                        <img class="logo-main" style="cursor: auto; width: 130px;" src="../../Backoffice/img/logo/admin-logo.jpg" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-8 col-md-9 col-9 d-none d-md-block">
                <div class="social-links social-links-2 text-rights f-right">
                    <ul class="navbar-nav justify-content-end navbar-nav-right demo-navbar-messages">
                        <li class="nav-item dropdown d-xl-inline-block acc-setting">
                            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
                               aria-expanded="false">
                                <span style="padding-right: 15px;" class="profile-text">Hola, David</span>
                                <img class="img-xs rounded-circle" src="../../Backoffice/img/AvatarPhoto.png" alt="Profile image">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item" data-action="profile">
                                    <i class="ion ion-ios-person text-lightest"></i> &nbsp; Mi Perfil
                                </a>

                                <div class="dropdown-divider"></div>

                                <a href="#" class="dropdown-item" data-action="logout">
                                    <i class="ion ion-ios-log-out text-danger"></i> &nbsp; Cerrar Sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="col-12">
                <div id="mobileMenuContainer">
                    <div class="mobile-menu mean-container">
                        <div class="mean-bar">
                            <a href="#nav" class="meanmenu-reveal" style=""><span></span><span></span><span></span></a> 

                            <nav class="mean-nav">
                                <ul id="mobileMenuList"></ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="menu-area white-bg header-sticky d-none d-lg-block">
    <div class="container">
        <div class="menu-box">
            <div class="row">
                <div class="col-xl-9 col-lg-9">
                    <div class="main-menu">
                        <nav id="mobile-menu">
                            <ul id="ulMenuOptions">
                                <!-- Aquí inyectamos las opciones -->
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 d-md-none d-lg-block">
                    <div class="social-links text-rights mt-10">
                        <ul class="navbar-nav justify-content-end navbar-nav-right demo-navbar-messages">
                            <li class="nav-item dropdown">
                                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                                   data-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                    <span class="count">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bg-danger text-center text-white font-weight-bold p-3">
                                        3 Nuevas Notificaciones
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                            <div class="ui-icon ui-icon-sm ion ion-md-home bg-secondary border-0 text-white"></div>
                                            <div class="media-body line-height-condenced ml-3">
                                                <div class="text-dark">Login from 192.168.1.1</div>
                                                <div class="small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
                                                <div class="small mt-1">12h ago</div>
                                            </div>
                                        </a>

                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                            <div class="ui-icon ui-icon-sm ion ion-md-person-add bg-info border-0 text-white"></div>
                                            <div class="media-body line-height-condenced ml-3">
                                                <div class="text-dark">You have <strong>4</strong> new followers</div>
                                                <div class="small mt-1">Phasellus nunc nisl, posuere cursus pretium nec, dictum vehicula tellus.</div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:void(0)" class="d-block text-center text-black p-2 my-1">
                                        Mostrar todas las notificaciones
                                    </a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                                   data-toggle="dropdown">
                                    <i class="far fa-envelope"></i>
                                    <span class="count">1</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="bg-danger text-center text-white font-weight-bold p-3">
                                        1 Nuevo Mensaje
                                    </div>
                                    <div class="list-group list-group-flush">
                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                            <img src="img/notification/sm.png" class="d-block ui-w-40 rounded-circle" alt="">
                                            <div class="media-body ml-3">
                                                <div class="text-dark line-height-condenced">Sit meis deleniti eu, pri vidit meliore docendi ut.</div>
                                                <div class="text-light small mt-1">Mae Gibson · 58m ago</div>
                                            </div>
                                        </a>

                                        <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
                                            <img src="img/notification/sm.png" class="d-block ui-w-40 rounded-circle" alt="">
                                            <div class="media-body ml-3">
                                                <div class="text-dark line-height-condenced">Mea et legere fuisset, ius amet purto luptatum te.</div>
                                                <div class="text-light small mt-1">Kenneth Frazier · 1h ago</div>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="javascript:void(0)" class="d-block text-center text-black p-2 my-1">
                                        Mostrar todos los mensajes
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../../js/vendor/jquery-1.12.4.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<script src="../../js/jquery.meanmenu.min.js"></script>
<script src="../../js/plugins.js"></script> 
<script src="../../js/main.js"></script> 