.accordion.basic-plus .card-header a.collapsed::after {
    position: absolute;
    content: "\002b";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-accourdion .card-header a.collapsed::after {
    position: absolute;
    content: "\002b";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-plus .card-header a::after {
    position: absolute;
    content: "\2015";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-accourdion .card-header a::after {
    position: absolute;
    content: "\2015";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-size: 14px;
    line-height: 1;
    color: #666;
}











.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

    .collapse.show {
        max-height: 500px; /* suficientemente grande */
    }


.accordion-container {
    padding: 10px;
}

.panel-heading h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.card {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}

.card-header {
    background: #f5f5f5;
    padding: 10px;
}

    .card-header a {
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        display: block;
    }

.card-body {
    padding: 10px;
    background: #fff;
}
/*
.collapse {
    display: none;
}

    .collapse.show {
        display: block;
    }

*/

/* 14. accordion */
 card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 2px;
    margin-bottom: 5px;
    border-color: #eaeaea;
}

.card-header:first-child {
    border-radius: 0;
}

.card-header {
    padding: 8px 7px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0;
}

.card a {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    text-align: left;
    position: relative;
}

    .card a i {
        margin-right: 10px;
    }

.accordion .card .card-body {
    color: #777;
}

.accordion.basic-accourdion .card-header a::after {
    position: absolute;
    content: "\2015";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-family: themify;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-accourdion .card-header a.collapsed::after {
    position: absolute;
    content: "\002b";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-family: themify;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-plus .card-header a::after {
    position: absolute;
    content: "\2015";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-family: themify;
    font-size: 14px;
    line-height: 1;
    color: #666;
}

.accordion.basic-plus .card-header a.collapsed::after {
    position: absolute;
    content: "\002b";
    top: 50%;
    right: 7px;
    margin-top: -7px;
    font-family: themify;
    font-size: 14px;
    line-height: 1;
    color: #666;
}
