

<div class="pannel-wrapper white-bg mb-30" style=" padding: 30px;">
    <div class="panel-heading heading-border">
        <h4 id="accordion-title"></h4>
    </div>

    <div class="panel-body mt-30 pt-0">
        <!-- Aquí se pintarán las tarjetas dinámicamente -->
        <div class="accordion basic-accourdion basic-plus" id="accordion-root">
        </div>
    </div>
</div> 


<!--<div class="accordion-container">
    <div class="panel-heading">
        <h4 id="titulo-accordion"></h4>
    </div>

    <div class="accordion basic-accordion" id="accordion-root">-->
<!-- Aquí se inyectará dinámicamente el acordeón -->
<!--</div>
</div>-->
